global
  log stdout format raw local0

defaults
  log global
  mode http
  option dontlognull
  timeout connect 5s
  timeout check 10s
  timeout client 1m
  timeout server 1m

frontend blockdag_rpc
  bind *:38131
  default_backend blockdag_rpc_nodes

backend blockdag_rpc_nodes
  option tcp-check
  server node2 bdag-miner-node-2:38131 check inter 5s fall 3 rise 2
  server node1 bdag-miner-node-1:38131 check inter 5s fall 3 rise 2 backup
